@page "/submit-set"

@if (LoomianSetDto == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container">

        <h1>Submit a new Loomian Set</h1>
        <p class="text-muted">The submitted set will be displayed to other users once it gets approved by a moderator.</p>

        <EditForm Model="LoomianSetDto" OnValidSubmit="SubmitSetAsync" FormName="SubmitLoomianSetForm">

            <DataAnnotationsValidator />

            <div class="row">
                <div class="col-md-12">
                    <label for="title" class="form-label">Title</label>
                    <InputText class="form-control mb-3" id="title" @bind-value="LoomianSetDto.Title"
                        placeholder="Enter a title for your Loomian set" maxlength="15" />
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <label for="loomian" class="form-label">Loomian</label>
                    <InputSelect class="form-select mb-3" id="loomian" @bind-value="LoomianSetDto.LoomianId">
                        <option value="" selected>Select a Loomian</option>
                        @foreach (Loomian currentLoomian in Loomians)
                        {
                            <option value="@currentLoomian.Id">@currentLoomian.Name</option>
                        }
                    </InputSelect>
                </div>

                <div class="col-md-6">
                    <label for="ability">Ability</label>
                    <InputSelect class="form-select mb-3" id="ability" @bind-value="LoomianSetDto.AbilityId">
                        <option value="" selected>Select an Ability</option>
                        @foreach (LoomianAbility currentAbility in Abilities)
                        {
                            <option value="@currentAbility.Id">@currentAbility.Name</option>
                        }
                    </InputSelect>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="item">Item</label>
                    <InputSelect class="form-select mb-3" id="item" @bind-value="LoomianSetDto.ItemId">
                        <option value="" selected>Select an Item (optional)</option>
                        @foreach (LoomianItem currentItem in Items)
                        {
                            <option value="@currentItem.Id">@currentItem.Name</option>
                        }
                    </InputSelect>
                </div>

                <div class="col-md-6">
                    <label for="gameVersion">Game Version</label>
                    <InputSelect class="form-select mb-3" id="gameVersion" @bind-value="LoomianSetDto.GameVersionInfoId">
                        <option value="" selected>Select a Game Version</option>
                        @foreach (GameVersionInfo currentGameVersion in GameVersions)
                        {
                            <option value="@currentGameVersion.Id">@currentGameVersion.VersionCode -
                                @currentGameVersion.VersionTitle
                            </option>
                        }
                    </InputSelect>
                </div>
            </div>

            <h2>Moves</h2>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label for="move1" class="form-label">Move 1</label>
                        <InputSelect class="form-select mb-3" id="move1" @bind-value="LoomianSetDto.Move1Id">
                            <option value="" selected>Select Move 1 (optional)</option>
                            @foreach (LoomianMove currentMove in Moves)
                            {
                                <option value="@currentMove.Id">@currentMove.Name</option>
                            }
                        </InputSelect>
                    </div>

                    <div class="col-md-6">
                        <label for="move2" class="form-label">Move 2</label>
                        <InputSelect class="form-select mb-3" id="move2" @bind-value="LoomianSetDto.Move2Id">
                            <option value="" selected>Select Move 2 (optional)</option>
                            @foreach (LoomianMove currentMove in Moves)
                            {
                                <option value="@currentMove.Id">@currentMove.Name</option>
                            }
                        </InputSelect>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="move3" class="form-label">Move 3</label>
                        <InputSelect class="form-select mb-3" id="move3" @bind-value="LoomianSetDto.Move3Id">
                            <option value="" selected>Select Move 3 (optional)</option>
                            @foreach (LoomianMove currentMove in Moves)
                            {
                                <option value="@currentMove.Id">@currentMove.Name</option>
                            }
                        </InputSelect>
                    </div>

                    <div class="col-md-6">
                        <label for="move4" class="form-label">Move 4</label>
                        <InputSelect class="form-select mb-3" id="move4" @bind-value="LoomianSetDto.Move4Id">
                            <option value="" selected>Select Move 4 (optional)</option>
                            @foreach (LoomianMove currentMove in Moves)
                            {
                                <option value="@currentMove.Id">@currentMove.Name</option>
                            }
                        </InputSelect>
                    </div>
                </div>
            </div>

            <h2>Stats</h2>

            @if (LoomianSetDto.TrainingPoints == null || LoomianSetDto.UniquePoints == null ||
                    LoomianSetDto.PersonalityModifiers == null)
            {
                <p class="text-muted">Loading...</p>
            }
            else
            {
                <table class="table table-bordered mb-3 text-center align-middle">
                    <thead>
                        <tr>
                            <th>Stat</th>
                            <th>Training Points</th>
                            <th>Unique Points</th>
                            <th>Personality Modifier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Health</td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="LoomianSetDto.TrainingPoints.Health"
                                    min="0" max="200" />
                            </td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="LoomianSetDto.UniquePoints.Health"
                                    min="0" max="40" />
                            </td>
                            <td>
                                <InputSelect class="form-select"
                                    @bind-Value="LoomianSetDto.PersonalityModifiers.Health">
                                    <option value="0" selected>-</option>
                                    @foreach (int currentModifier in AllowedPersonalityModifiers)
                                    {
                                        if (currentModifier > 0)
                                        {
                                            <option value="@currentModifier">+@currentModifier%</option>
                                        }
                                        else if (currentModifier < 0)
                                        {
                                            <option value="@currentModifier">@currentModifier%</option>
                                        }
                                    }
                                </InputSelect>
                            </td>
                        </tr>


                        <tr>
                            <td>Energy</td>

                            <td>
                                <InputNumber class="form-control" @bind-Value="LoomianSetDto.TrainingPoints.Energy"
                                    min="0" max="200" />
                            </td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="LoomianSetDto.UniquePoints.Energy"
                                    min="0" max="40" />
                            </td>
                            <td>
                                <InputSelect class="form-select" @bind-Value="LoomianSetDto.PersonalityModifiers.Energy">
                                    <option value="0" selected>-</option>
                                    @foreach (int currentModifier in AllowedPersonalityModifiers)
                                    {
                                        if (currentModifier > 0)
                                        {
                                            <option value="@currentModifier">+@currentModifier%</option>
                                        }
                                        else if (currentModifier < 0)
                                        {
                                            <option value="@currentModifier">@currentModifier%</option> 
                                        }
                                    }
                                </InputSelect>
                            </td>

                        </tr>

                        <tr>
                            <td>Melee Attack</td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="LoomianSetDto.TrainingPoints.MeleeAttack"
                                    min="0" max="200" />
                            </td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="LoomianSetDto.UniquePoints.MeleeAttack"
                                    min="0" max="40" />
                            </td>
                            <td>
                                <InputSelect class="form-select"
                                    @bind-Value="LoomianSetDto.PersonalityModifiers.MeleeAttack">
                                    <option value="0" selected>-</option>
                                    @foreach (int currentModifier in AllowedPersonalityModifiers)
                                    {
                                        if (currentModifier > 0)
                                        {
                                            <option value="@currentModifier">+@currentModifier%</option>
                                        }
                                        else if (currentModifier < 0)
                                        {
                                            <option value="@currentModifier">@currentModifier%</option>
                                        }
                                    }
                                </InputSelect>
                            </td>
                        </tr>

                        <tr>
                            <td>Melee Defense</td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="LoomianSetDto.TrainingPoints.MeleeDefense"
                                    min="0" max="200" />
                            </td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="LoomianSetDto.UniquePoints.MeleeDefense"
                                    min="0" max="40" />
                            </td>
                            <td>
                                <InputSelect class="form-select"
                                    @bind-Value="LoomianSetDto.PersonalityModifiers.MeleeDefense">
                                    <option value="0" selected>-</option>
                                    @foreach (int currentModifier in AllowedPersonalityModifiers)
                                    {
                                        if (currentModifier > 0)
                                        {
                                            <option value="@currentModifier">+@currentModifier%</option>
                                        }
                                        else if (currentModifier < 0)
                                        {
                                            <option value="@currentModifier">@currentModifier%</option>
                                        }
                                    }
                                </InputSelect>
                            </td>
                        </tr>

                        <tr>
                            <td>Ranged Attack</td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="LoomianSetDto.TrainingPoints.RangedAttack"
                                    min="0" max="200" />
                            </td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="LoomianSetDto.UniquePoints.RangedAttack"
                                    min="0" max="40" />
                            </td>
                            <td>
                                <InputSelect class="form-select"
                                    @bind-Value="LoomianSetDto.PersonalityModifiers.RangedAttack">
                                    <option value="0" selected>-</option>
                                    @foreach (int currentModifier in AllowedPersonalityModifiers)
                                    {
                                        if (currentModifier > 0)
                                        {
                                            <option value="@currentModifier">+@currentModifier%</option>
                                        }
                                        else if (currentModifier < 0)
                                        {
                                            <option value="@currentModifier">@currentModifier%</option>
                                        }
                                    }
                                </InputSelect>
                            </td>
                        </tr>

                        <tr>
                            <td>Ranged Defense</td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="LoomianSetDto.TrainingPoints.RangedDefense"
                                    min="0" max="200" />
                            </td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="LoomianSetDto.UniquePoints.RangedDefense"
                                    min="0" max="40" />
                            </td>
                            <td>
                                <InputSelect class="form-select"
                                    @bind-Value="LoomianSetDto.PersonalityModifiers.RangedDefense">
                                    <option value="0" selected>-</option>
                                    @foreach (int currentModifier in AllowedPersonalityModifiers)
                                    {
                                        if (currentModifier > 0)
                                        {
                                            <option value="@currentModifier">+@currentModifier%</option>
                                        }
                                        else if (currentModifier < 0)
                                        {
                                            <option value="@currentModifier">@currentModifier%</option>
                                        }
                                    }
                                </InputSelect>
                            </td>
                        </tr>

                        <tr>
                            <td>Speed</td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="LoomianSetDto.TrainingPoints.Speed"
                                    min="0" max="200" />
                            </td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="LoomianSetDto.UniquePoints.Speed"
                                    min="0" max="40" />
                            </td>
                            <td>
                                <InputSelect class="form-select" @bind-Value="LoomianSetDto.PersonalityModifiers.Speed">
                                    <option value="0" selected>-</option>
                                    @foreach (int currentModifier in AllowedPersonalityModifiers)
                                    {
                                        if (currentModifier > 0)
                                        {
                                            <option value="@currentModifier">+@currentModifier%</option>
                                        }
                                        else if (currentModifier < 0)
                                        {
                                            <option value="@currentModifier">@currentModifier%</option>
                                        }
                                    }
                                </InputSelect>
                            </td>
                        </tr>


                    </tbody>

                </table>
            }

            <h2>Descriptive Fields</h2>

            <label for="shortDescription" class="form-label">Short Description</label>
            <InputText class="form-control mb-3" id="shortDescription" @bind-value="LoomianSetDto.ShortDescription"
                placeholder="Enter a short description for your Loomian set" maxlength="50" />

            <label for="explanation" class="form-label">Explanation (optional)</label>
            <InputTextArea class="form-control mb-3" id="explanation" @bind-value="LoomianSetDto.Explanation"
                placeholder="Enter an explanation for your Loomian set (optional)" rows="4" maxlength="500" />

            <label for="strategy" class="form-label">Strategy (optional)</label>
            <InputTextArea class="form-control mb-3" id="strategy" @bind-value="LoomianSetDto.Strategy"
                placeholder="Enter a strategy for your Loomian set (optional)" rows="4" maxlength="500" />

            <label for="otherOptions" class="form-label">Other Options (optional)</label>
            <InputTextArea class="form-control mb-3" id="otherOptions" @bind-value="LoomianSetDto.OtherOptions"
                placeholder="Enter other options for your Loomian set (optional)" rows="4" maxlength="500" />

            <p class="text-danger">@ErrorMessage</p>

            <ValidationSummary />

            <button type="submit" class="btn btn-primary mb-4">Submit Loomian Set</button>
        </EditForm>
    </div>
}