@if (LoomianSet.Loomian == null || LoomianSet.Ability == null)
{
    <p>Loading...</p>
    return;
}

<div class="container w-100">
    <div class="row">
        <div class="col-md-5">
            <h1 class="display-5">@LoomianSet.Title</h1>
            <h2 class="display-6">@LoomianSet.Loomian.Name</h2>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="display-6">Item:</h2>
                        @if (LoomianSet.Item != null)
                        {
                            <p>@LoomianSet.Item.Name</p>
                        }
                        else
                        {
                            <p>No item equipped</p>
                        }
                    </div>
                    <div class="col-md-6">
                        <h2 class="display-6">Ability:</h2>
                        @if (LoomianSet.Ability != null)
                        {
                            <p>@LoomianSet.Ability.Name</p>
                        }
                        else
                        {
                            <p>No ability selected</p>
                        }
                    </div>
                </div>
            </div>

            <h2 class="display-6">Moves</h2>
            <table class="table table-bordered w-75">
                <tbody>
                    <tr>
                        @if (LoomianSet.Move1 != null)
                        {
                            <td>@LoomianSet.Move1.Name</td>
                        }
                        else
                        {
                            <td>None</td>
                        }

                        @if (LoomianSet.Move2 != null)
                        {
                            <td>@LoomianSet.Move2.Name</td>
                        }
                        else
                        {
                            <td>None</td>
                        }
                    </tr>
                    <tr>
                        @if (LoomianSet.Move3 != null)
                        {
                            <td>@LoomianSet.Move3.Name</td>
                        }
                        else
                        {
                            <td>None</td>
                        }

                        @if (LoomianSet.Move4 != null)
                        {
                            <td>@LoomianSet.Move4.Name</td>
                        }
                        else
                        {
                            <td>None</td>
                        }
                    </tr>
                </tbody>
            </table>

            <h2 class="display-6">Stat modifiers</h2>
            <table class="table table-bordered w-75">
                <thead>
                    <tr>
                        <th>Stat</th>
                        <th>TPs</th>
                        <th>UPs</th>
                        <th>Personality</th>
                    </tr>
                </thead>
                <tbody>

                    @if (LoomianSet.TrainingPoints == null)
                    {
                        LoomianSet.TrainingPoints = new StatsSetResponseDto();
                    }
                    @if (LoomianSet.UniquePoints == null)
                    {
                        LoomianSet.UniquePoints = new StatsSetResponseDto();
                    }
                    @if (LoomianSet.PersonalityModifiers == null)
                    {
                        LoomianSet.PersonalityModifiers = new StatsSetResponseDto();
                    }

                    <tr>
                        <td>Health</td>
                        <td>@LoomianSet.TrainingPoints.Health</td>
                        <td>@LoomianSet.UniquePoints.Health</td>
                        <td>@LoomianSet.PersonalityModifiers.Health</td>
                    </tr>

                    <tr>
                        <td>Energy</td>
                        <td>@LoomianSet.TrainingPoints.Energy</td>
                        <td>@LoomianSet.UniquePoints.Energy</td>
                        <td>@LoomianSet.PersonalityModifiers.Energy</td>
                    </tr>

                    <tr>
                        <td>Melee Attack</td>
                        <td>@LoomianSet.TrainingPoints.MeleeAttack</td>
                        <td>@LoomianSet.UniquePoints.MeleeAttack</td>
                        <td>@LoomianSet.PersonalityModifiers.MeleeAttack</td>
                    </tr>

                    <tr>
                        <td>Ranged Attack</td>
                        <td>@LoomianSet.TrainingPoints.RangedAttack</td>
                        <td>@LoomianSet.UniquePoints.RangedAttack</td>
                        <td>@LoomianSet.PersonalityModifiers.RangedAttack</td>
                    </tr>

                    <tr>
                        <td>Melee Defense</td>
                        <td>@LoomianSet.TrainingPoints.MeleeDefense</td>
                        <td>@LoomianSet.UniquePoints.MeleeDefense</td>
                        <td>@LoomianSet.PersonalityModifiers.MeleeDefense</td>
                    </tr>

                    <tr>
                        <td>Ranged Defense</td>
                        <td>@LoomianSet.TrainingPoints.RangedDefense</td>
                        <td>@LoomianSet.UniquePoints.RangedDefense</td>
                        <td>@LoomianSet.PersonalityModifiers.RangedDefense</td>
                    </tr>

                    <tr>
                        <td>Speed</td>
                        <td>@LoomianSet.TrainingPoints.Speed</td>
                        <td>@LoomianSet.UniquePoints.Speed</td>
                        <td>@LoomianSet.PersonalityModifiers.Speed</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-7">
            <h2 class="display-6">Set explanation</h2>
            @if (!string.IsNullOrEmpty(LoomianSet.Explanation))
            {
                @foreach (var paragraph in LoomianSet.Explanation.Split('\n'))
                {
                    <p>@paragraph</p>
                }
            }
            else
            {
                <p>No explanation provided.</p>
            }

            <h2 class="display-6">Strategy</h2>
            @if (!string.IsNullOrEmpty(LoomianSet.Strategy))
            {
                @foreach (var paragraph in LoomianSet.Strategy.Split('\n'))
                {
                    <p>@paragraph</p>
                }
            }
            else
            {
                <p>No strategy provided.</p>
            }

            <h2 class="display-6">Other options</h2>
            @if (!string.IsNullOrEmpty(LoomianSet.OtherOptions))
            {
                @foreach (var paragraph in LoomianSet.OtherOptions.Split('\n'))
                {
                    <p>@paragraph</p>
                }
            }
            else
            {
                <p>No other options provided.</p>
            }

            <h2 class="display-6">Metadata</h2>
            <table class="table table-bordered w-75">
                <tbody>
                    <tr>
                        <td>Author</td>
                        @if (LoomianSet.Author == null)
                        {
                            <td>Unknown</td>
                        }
                        else
                        {
                            <td>@LoomianSet.Author.Username</td>
                        }
                    </tr>
                    <tr>
                        <td>Created on</td>
                        @if (LoomianSet.CreatedAt == null)
                        {
                            <td>Unknown</td>
                        }
                        else
                        {
                            <td>@LoomianSet.CreatedAt.Value.ToString()</td>
                        }
                    </tr>
                    <tr>
                        <td>Approved by</td>
                        @if (LoomianSet.Approver == null)
                        {
                            <td>Not approved</td>
                        }
                        else
                        {
                            <td>@LoomianSet.Approver.Username</td>
                        }
                    </tr>
                    <tr>
                        <td>Approved on</td>
                        @if (LoomianSet.ApprovedAt == null)
                        {
                            <td>Not approved</td>
                        }
                        else
                        {
                            <td>@LoomianSet.ApprovedAt.Value.ToString()</td>
                        }
                    </tr>
                    <tr>
                        <td>Average rating</td>
                        @if (LoomianSet.RatingsCount == 0)
                        {
                            <td>No ratings yet</td>
                        }
                        else
                        {
                            <td>@LoomianSet.AverageRating.ToString("0.00") (@LoomianSet.RatingsCount reviews)</td>
                        }
                    </tr>
                    <tr>
                        <td>Game version:</td>
                        @if (LoomianSet.GameVersionInfo == null)
                        {
                            <td>Unknown</td>
                        }
                        else
                        {
                            <td>@LoomianSet.GameVersionInfo.VersionCode - @LoomianSet.GameVersionInfo.VersionTitle</td>
                        }
                    </tr>
                    <tr>
                        <td>Tags</td>
                        @if (LoomianSet.Tags == null || !LoomianSet.Tags.Any())
                        {
                            <td>No tags</td>
                        }
                        else
                        {
                            <td>
                                @foreach (TagResponseDto tag in LoomianSet.Tags)
                                {
                                    <span class="badge bg-secondary me-2">@tag.Name</span>
                                    
                                }
                            </td>
                        }
                    </tr>
                </tbody>
            </table>


            <div class="rating-card p-4">
                <div class="star-rating animated-stars">
                    <input type="radio" id="star5" name="rating" @onclick="() => SetSelectedStarRating(5)">
                    <label for="star5" class="bi bi-star-fill"></label>
                    <input type="radio" id="star4" name="rating" @onclick="() => SetSelectedStarRating(4)">
                    <label for="star4" class="bi bi-star-fill"></label>
                    <input type="radio" id="star3" name="rating" @onclick="() => SetSelectedStarRating(3)">
                    <label for="star3" class="bi bi-star-fill"></label>
                    <input type="radio" id="star2" name="rating" @onclick="() => SetSelectedStarRating(2)">
                    <label for="star2" class="bi bi-star-fill"></label>
                    <input type="radio" id="star1" name="rating" @onclick="() => SetSelectedStarRating(1)">
                    <label for="star1" class="bi bi-star-fill"></label>
                </div>

                @if (IsAuthenticated)
                {
                    <button class="btn btn-primary ms-2" @onclick="RateSetAsync">Submit rating</button>
                    @if (PreviousStarRating != -1)
                    {
                        <p class="text-muted">Your current rating for this set is @PreviousStarRating stars.</p>
                    }
                    else
                    {
                        <p class="text-muted">You have not rated this set yet.</p>
                    }
                }
                else
                {
                    <p class="text-danger">You must be logged in to submit ratings.</p>
                }
            </div>
        </div>
    </div>
</div>